.wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}

.accordion{
    width: 500px;
}

.item{
    background: #710000;
    color: #fff;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.title{
    color: #fff;
    display:flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.content{
    color: #fff;
    height: auto;
}